.popup__container_type_image{
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 0;
    border: none;
    box-shadow: none;
    width: fit-content;
    min-width: fit-content;
       
}

@media screen and (max-width: 500px){
    .popup__container_type_image{
        padding: 0;
    }
   
}

